<nav class="navbar navbar-expand-lg bg-body-tertiary mavasa__menu navbar-dark" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mavasaNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Menú" (click)="changeMenuStyle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mavasaNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link mavasa__option--selected" aria-current="page" href="#home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contáctanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galería</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
