<section class="mavasa__home" id="home">
    <div class="mavasa__home-content">
        <div class="mavasa__home-body">
            <span>Mavasa</span>
            <p>Ingenieria <fa-icon [icon]="circleIcon"></fa-icon> Desarrollo <fa-icon [icon]="circleIcon"></fa-icon> Maquinados</p>
        </div>
        <div class="mavasa__home-footer">
            <div></div>
            <div>
                <div class="mavasa__home-icon-container"><fa-icon [icon]="facebookIcon"></fa-icon></div>
                <div class="mavasa__home-icon-container"><fa-icon [icon]="instagramIcon"></fa-icon></div>
                <div class="mavasa__home-icon-container"><fa-icon [icon]="whatsappIcon"></fa-icon></div>
            </div>
        </div>
    </div>
</section>